.cart {
    background-color: rgba(255, 153, 0, 0.30);
    ;
    padding: 12px;
    margin-left: 0px;
    position: sticky;
    top: 0;
}

.btn-clear-cart {
    display: flex;
    width: 90%;
    height: 40px;
    font-size: 21px;
    margin: 10px auto;
    justify-content: space-between;
    color: white;
    border-radius: 4px;
    background: #FF3030;
    align-items: center;
}