.review-item {
    width: 571px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    padding: 8px 25px 8px 8px;
}

.review-item .product-title {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.032px;
    margin-top: 4px;
}

.review-info {
    flex-grow: 1;
}

.review-info p {
    margin: 0 15px;
}

.review-item img {
    margin: 8px;
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.price {
    color: #F90;
}

/* Delete button style */
.btn-delete {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    color: #EB5757;
    font-size: 27px;
}